---
import AboutCard from "../../subcomponents/AboutCard.astro";
import { GoGitBranch, GoLightBulb } from "react-icons/go";
---

<section id="about">
  <div class="title">
    <i
      class="icon"
      id="branch"
      style="position: absolute; transform: rotate(-21deg);"
      ><GoGitBranch client:idle /></i
    ><h2>About Me</h2>
  </div>
  <div class="grid">
    <AboutCard
      title="Full Stack Developer"
      content="I taught myself to build everything from the visible parts of websites to the behind-the-scenes magic, making tech accessible and user-friendly."
      icon={1}
    />

    <AboutCard
      title="UI Designer"
      content="From pixels to perfection, Im an UI designer passionate about creating digital spaces that engage and accessible."
      icon={2}
    />

    <AboutCard
      title="Student"
      content="Classroom or coding, I'm a student passionate about blending design finesse with tech savvy in digital creations."
      icon={3}
    />
  </div>
  <div class="prof">
    <div class="title">
      <i
        class="icon"
        id="branch"
        style="position: absolute; transform: rotate(-21deg); margin-top: 6px"
        ><GoLightBulb client:idle /></i
      ><h2>Proficiencies</h2>
    </div>
    <h3 class="subtitle">Languages</h3>
    <p>TypeScript - JavaScript - HTML & CSS - Python - C</p>

    <h3 class="subtitle">Tools</h3>
    <p>Express - FastAPI - React - Next.js - Astro - DiscordJS - Tailwind - Bootstrap </p>

    <h3 class="subtitle">Technologies</h3>
    <p>NodeJS - Git - REST APIs - GraphQL</p>

    <h3 class="subtitle">Databases</h3>
    <p>SQL - MongoDB - Supabase - PostgreSQL</p>
  </div>
</section>
<style>
  #about {
    min-height: 70vh;
    display: flex;
    padding: 2rem 4rem;
    padding-top: 78px;
    flex-direction: column;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-left: -18px;
  }

  .title svg {
    font-size: 26px;
  }

  .title h2 {
    width: -webkit-fill-available;
    margin-left: 38px;
    font-size: 36px;
    background: linear-gradient(105deg, #8a5ad1 3.41%, #56318e 61.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
  }

  h3.subtitle {
    font-size: 26px;
  }
  .subtitle {
    margin-bottom: 8px;
    width: -webkit-fill-available;

    background: linear-gradient(105deg, #8a5ad1 3.41%, #56318e 61.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
  }

  .prof p {
    margin: 0;
    color: var(--content);
    font-size: 18px;
  }

  .grid {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 18px;
    margin-bottom: 64px;
  }

  @media only screen and (max-width: 696px) {
    #about {
      padding: 1rem 2rem;
      gap: 32px;
    }
  }

  @media only screen and (max-width: 400px) {
    #about {
      padding: 1rem 1rem;
    }
    .title {
      margin-left: 0px;
    }
  }
</style>
