---
import { GoRepo, GoHeartFill } from "react-icons/go";
---

<section id="home">
  <i
    class="icon"
    id="repo"
    style="position: absolute; transform: rotate(346deg);"
    ><GoRepo client:idle /></i
  >
  <i
    class="dark icon"
    id="heart"
    style="position: absolute; transform: rotate(15deg);"
    ><GoHeartFill client:idle /></i
  >

  <div class="left">
    <div class="hero">
      <span class="glow"></span>
      <h3>Hi, I am</h3>
      <h1>
        Rahul<br />
        Marban
      </h1>
      <p style="color: #dedede; font-weight: 600 !important; font-size: 24px;">
        Building the future, pixel by pixel.
      </p>
    </div>
    <p>
      I use a blend of code and imagination to design exceptional user
      experiences
    </p>
  </div>
  <div class="right">
    <img loading="lazy" class="face" src={"/assets/face.webp"} alt="My face" />
    <img
      loading="lazy"
      class="face-h"
      src={"/assets/face-h.webp"}
      alt="My face"
    />
  </div>
</section>

<style>
  .face-h {
    display: none;
  }
  #home {
    min-height: 70vh;
    display: flex;
    padding: 2rem 6rem;
    justify-content: space-between;
    align-items: center;
  }

  .glow {
    box-shadow: 0px 0px 200px 50px var(--purple);
    position: absolute;
    top: 230px;
    left: 206px;
    width: 1px;
    height: 1px;
    border-radius: 20px;
  }
  .left {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .right {
    width: 250px;
  }

  .left p {
    color: #a2a2a2;

    font-family:
      "Space Grotesk Variable",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }

  .hero {
    gap: 14px;
    display: flex;
    flex-direction: column;
  }

  .hero * {
    margin: 0;
  }

  .face,
  .face-h {
    -webkit-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
    -o-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
    transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
    -moz-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
    -ms-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
    filter: drop-shadow(0px 0px 0px #8a5ad14b);
  }
  .face:hover,
  .face-h:hover {
    filter: drop-shadow(0px 0px 30px #8a5ad14b);
  }

  .hero h1 {
    font-size: 75px;
    background: linear-gradient(105deg, #8a5ad1 3.41%, #56318e 61.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
  }

  .hero h3 {
    font-size: 24px;
    font-weight: 700;
  }

  .icon#repo {
    top: 115px;
    right: 46vw;
  }
  .icon#heart {
    top: 315px;
    right: 32vw;
  }

  @media only screen and (max-width: 1100px) {
    .icon#heart {
      top: 315px;
      right: 398px;
    }
  }

  @media only screen and (max-width: 936px) {
    .icon#repo {
      top: 115px;
      right: 12vw;
    }
    .icon#heart {
      top: 315px;
      right: 24vw;
    }
    #home {
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
    }
    .face {
      display: none;
    }
    .face-h {
      display: block !important;
    }
    .right {
      width: auto;
    }
  }

  @media only screen and (max-width: 696px) {
    .glow {
      box-shadow: 0px 0px 100px 25px var(--purple);
    }
    #home {
      padding: 1rem 3rem;
      gap: 32px;
    }

    .icon#repo {
      top: 95px;
      right: 10vw;
    }
    .icon#heart {
      top: 275px;
      right: 14vw;
    }

    .face-h {
      width: 80vw;
      max-width: 470px;
    }
  }

  @media only screen and (max-width: 450px) {
    .hero h3 {
      font-size: 20px;
    }

    .hero h1 {
      font-size: 60px;
    }

    .left p {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 400px) {
    #home {
      padding: 1rem 2rem;
    }
  }
</style>
