---
import Header from "../components/Home/Header.astro";

import Home from "../components/Home/Sections/Home.astro";
import Tagline from "../components/Tagline.astro";
import About from "../components/Home/Sections/About.astro";
import Projects from "../components/Home/Sections/Projects.astro";

import Layout from "../layouts/Layout.astro";
import Blogs from "../components/Home/Sections/Blogs.astro";
import Contact from "../components/Home/Sections/Contact.astro";
---

<Layout title="Rahuletto.">
  <Header />
  <main>
    <Home />
    <Tagline />
    <About />
    <Projects />
    <Blogs />
    <Contact />
  </main>
</Layout>
