---
import { FaArrowCircleDown } from "react-icons/fa";
---

<header id="header">
  <div class="header-icon">
    <img src="/ghost-icon.svg" alt="icon" />
    <FaArrowCircleDown class="ham" id="ham" title="View more" alt="Hamburger" />
  </div>
  <div class="header-buttons">
    <a class="h-button active" href="#home">Home</a>
    <a class="h-button" href="#about">About</a>
    <a class="h-button" href="#projects">Projects</a>
    <a class="h-button" href="#blogs">Blog</a>
    <a class="h-button" href="#connect">Connect</a>
  </div>
</header>

<script>
  document.addEventListener(
    "astro:page-load",
    function () {
      scrollMoment();
      const sections = document.querySelectorAll("section");
      const menu_links = document.querySelectorAll(".h-button");

      const makeActive = (link: number) =>
        menu_links[link].classList.add("active");
      const removeActive = (link: number) =>
        menu_links[link].classList.remove("active");
      const removeAllActive = () =>
        [...Array(sections.length).keys()].forEach((link) =>
          removeActive(link)
        );

      const sectionMargin = 200;

      let currentActive = 0;

      function scrollMoment() {
        if (window.scrollY > 50) {
          document.querySelector("header")?.classList.add("scroll");
        } else document.querySelector("header")?.classList.remove("scroll");
      }
      window.addEventListener("scroll", () => {
        scrollMoment();
        const current =
          sections.length -
          [...sections]
            .reverse()
            .findIndex(
              (section) => window.scrollY >= section.offsetTop - sectionMargin
            ) -
          1;

        if (current !== currentActive) {
          removeAllActive();
          currentActive = current;
          makeActive(current);
        }
      });
    },
    false
  );

  const ham = document.getElementById("ham");
  ham?.addEventListener("click", () => {
    const btns = document.querySelector(".header-buttons");
    btns?.classList.toggle("expand");

    if (btns?.classList.contains("expand"))
      ham.style.transform = "rotate(225deg)";
    else ham.style.transform = "rotate(45deg)";
  });

  const home = document.querySelector(".h-button[href='#home']");
  home?.addEventListener('click', (e) => {
    e.preventDefault()
    window.scroll(0,0)
  })
</script>
