---
import { FaArrowCircleDown } from "react-icons/fa";

interface Props {
  url: "blog" | "projects" | "home";
}
const { url } = Astro.props;
---

<header id="header">
  <div class="header-icon">
    <a href="/" class="logo">
      <img loading="eager" src="/ghost-icon.svg" alt="icon" />
      <h3>Rahuletto</h3>
    </a>
    <FaArrowCircleDown class="ham" id="ham" title="View more" alt="Hamburger" />
  </div>
  <div class="header-buttons">
    <a class:list={["h-button", url == "home" ? "active" : ""]} href="/">Home</a
    >
    <a
      class:list={["h-button", url == "projects" ? "active" : ""]}
      href="/projects">Projects</a
    >
    <a class:list={["h-button", url == "blog" ? "active" : ""]} href="/blogs"
      >Blog</a
    >
  </div>
</header>

<style>
  .logo {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  .logo h3 {
    font-size: 26px;
    background: linear-gradient(105deg, #8a5ad1 3.41%, #7041b5 61.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    user-select: none;
  }
</style>

<script>
  function scrollMoment() {
    if (window.scrollY > 50) {
      document.querySelector("header")?.classList.add("scroll");
    } else document.querySelector("header")?.classList.remove("scroll");
  }

  document.addEventListener(
    "astro:page-load",
    function () {
      scrollMoment();

      window.addEventListener("scroll", () => {
        scrollMoment();
      });
    },
    false
  );

  const ham = document.getElementById("ham");
  ham?.addEventListener("click", () => {
    const btns = document.querySelector(".header-buttons");
    btns?.classList.toggle("expand");

    if (btns?.classList.contains("expand"))
      ham.style.transform = "rotate(225deg)";
    else ham.style.transform = "rotate(45deg)";
  });
</script>
