---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";

import Cursor from "../components/Cursor.astro";
import "../../styles/global.css";

import "@fontsource-variable/outfit";
import "@fontsource-variable/space-grotesk";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta
      name="description"
      content="Building the future, pixel by pixel using a blend of code and imagination to design exceptional user experiences"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Cursor />
    <slot />
    <Footer />
  </body>
</html>
