:root {
  --purple-light: #8959cf;
  --purple: #8a5ad1;
  --purple-dark: #56318e;
  --background: #09080a;
  --background-right: #0c070f;
  --color: #e4e4e4;
  --box: rgba(7.74, 6.98, 8.5, 0.5);
  --border: #27252c;
  --content: #cbcbcb;

  --orange: #FF980E;
  --red: #D3212C;
  --green: #069C56;
}

html {
  text-rendering: geometricPrecision !important;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: "Space Grotesk Variable", "Outfit Variable", sans-serif;
  background: linear-gradient(
      135deg,
      var(--background) 0%,
      var(--background-right) 100%
    )
    fixed;
  scroll-behavior: smooth;
  -webkit-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
  -o-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
  transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
  -moz-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
  -ms-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
}

body {
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-family: "Outfit Variable" !important;
}
* {
  text-rendering: geometricPrecision !important;
  font-family: "Space Grotesk Variable";
  font-weight: 500;
  /* cursor: none; */
  color: var(--color);

  transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
  -webkit-transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
  -moz-transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
  -ms-transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
  -o-transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
}

::-webkit-scrollbar {
  width: 3px;
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--purple-dark);
}

::-webkit-scrollbar-button {
  display: none;
}

::selection {
  background-color: var(--purple-dark);
  color: var(--background) !important;

  background-clip: none;
  -webkit-text-fill-color: var(--background);
}

::-moz-selection {
  background-color: var(--purple-dark);
  color: var(--background) !important;
  background-clip: none;
  -webkit-text-fill-color: var(--background);
}

.icon svg {
  fill: var(--purple);
  font-size: 32px;
}
.icon.dark svg {
  fill: var(--purple-dark) !important;
}

header {
  padding: 24px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  backdrop-filter: none;
  background: transparent;
  z-index: 2;

  transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
  -webkit-transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
  -moz-transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
  -ms-transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
  -o-transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
}

a {
  text-decoration: none !important;
}

.scroll,
header:has(div.expand) {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
}

header img {
  width: 32px;
  height: 32px;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

header .header-buttons {
  display: flex;
  gap: 18px;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: -webkit-fill-available;
}

.header-icon #ham {
  display: none;

  fill: var(--purple-light);
  font-size: 24px;

  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);

  -webkit-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
  -o-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
  transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
  -moz-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
  -ms-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
}

header .header-buttons a {
  font-family: "Outfit Variable" !important;
  font-weight: 500;
  padding: 6px 16px;
  color: var(--purple-light);
  text-decoration: none !important;
  font-size: 18px;
  border: 2px solid transparent;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;

  transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
  -webkit-transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
  -moz-transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
  -ms-transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
  -o-transition: 0.3s cubic-bezier(0.35, 0.76, 0.4, 0.92);
}
header .header-buttons a:active,
header .header-buttons a.active {
  color: var(--background);
  background-color: var(--purple-light);
}

header .header-buttons a:hover {
  border: 2px solid var(--purple-dark);
}

@media only screen and (max-width: 690px) {
  .header-icon {
    justify-content: center;
  }
  header {
    flex-direction: column;
    gap: 24px;
    top: -62px;
  }
}

@media only screen and (max-width: 550px) {
  header {
    align-items: flex-start;
    top: 0;
  }

  header .header-buttons {
    flex-direction: column;
    opacity: 0;
    height: 0px;
    margin-top: -20px;
  }

  header .header-buttons a {
    display: none;
    opacity: 0;
  }

  .expand {
    display: flex !important;
    opacity: 1 !important;
    height: 280px !important;
    margin-top: 0px !important;
  }

  header .header-buttons.expand a {
    display: inline-flex !important;
    opacity: 1;
  }

  .header-icon {
    justify-content: space-between;
  }

  .header-icon #ham {
    display: block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  .header-icon #ham:active {
    transform: scale(0.85) !important;
    -webkit-transform: scale(0.85) !important;
    -moz-transform: scale(0.85) !important;
    -ms-transform: scale(0.85) !important;
    -o-transform: scale(0.85) !important;
  }
}

@media only screen and (max-width: 550px) {
  header {
    padding: 18px 28px;
  }
}

@media (any-pointer: coarse) {
  body .cursor {
    display: none;
  }
  body .cursor circle {
    fill: none;
  }
}
.cursor {
  opacity: 0;
}

body:hover .cursor {
  opacity: 1;
}
body .cursor {
  pointer-events: none;
}
body .cursor {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
body .cursor circle {
  stroke: var(--purple);
  stroke-width: 2px;
}