@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deep-black: #0f0f0e;
  --container: #141414;
  --border: #252525;
  --copper: #d6bfb2;
  --copper-dark: #c0aa9d;
  --color: #e5e5e5;
  --font: var(--root-font), "Helvetica Neue", var(--inter), system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  font-family: var(--font);
  box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
  font-weight: 500;
}

img,
svg {
  user-select: none !important;
}

a,button {
  cursor: pointer;
}

a:active {
  scale: 0.95;
}

h1 {
  margin: 0 !important;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  color: var(--color);
  background: var(--deep-black);
  font-family: var(--font);
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: var(--deep-black);
}

::-webkit-scrollbar-thumb {
  background: var(--copper);
}

#container {
  scroll-behavior: smooth;
}

#stroke {
  -webkit-text-stroke: 2px var(--copper);
  display: inline-block;
}

#stroke:hover {
  -webkit-text-stroke: 2px transparent;
  color: var(--copper);
}

#icon {
  transition: all 0.5s linear;
  filter: grayscale(1) brightness(0) invert(1);
  color: var(--color);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

#icon:hover {
  color: initial !important;
  filter: none !important;
  -webkit-filter: none !important;
}

#icon svg {
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

#project,
#works,
#text,
#icon {
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -webkit-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -moz-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -ms-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -o-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@media (min-width: 768px) {

#works:hover:has(#project:hover) #project:not(:hover) {
  opacity: 0.5;
  filter: blur(1px) grayscale(1);
  -webkit-filter: blur(1px) grayscale(1);
}

#project:hover {
  opacity: 1 !important;
  filter: none !important;
  -webkit-filter: none !important;
}
}

#project:hover #text {
  opacity: 1 !important;
}

@media (max-width: 768px) {
  #stroke {
    -webkit-text-stroke: 2px transparent;
    color: var(--copper);
  }
}
.active {
  padding: 0 2.8rem;
  opacity: 1;
  background-color: var(--copper);
  color: var(--deep-black);
}

.active:hover {
  background-color: var(--copper-dark);
  padding: 0 2.8rem !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
